.import/*
.vscode/*
.godot/*
/Luminext.code-workspace
bin/*
win_bin/*
linux_bin/*
skins/*
playlists/*
profiles/*
deprecated/*
assets/cleanup/*
deprecated/*
mods/*
presets/*
screenshots/*
replays/*
logs/*
internal/skins/*
TODO
Project Luminext.code-workspace
addons/ffmpeg/win64/~libgdffmpeg.windows.template_debug.x86_64.dlls
addons/ffmpeg/win64/~libgdffmpeg.windows.template_debug.x86_64.dll
scripts/resources/api.txt
/addons/silent_wolf
